.header__intro {
    display: flex;
    flex-basis: 100%;
    padding: 30px 0 20px;
    font-size: 17px;
    font-weight: 400;
    z-index: 1;
    
}

.header__intro-content {
    display: flex;
    flex-direction: column;
}

.header__intro-title {
    font-family: 'Prata', serif;
    color: rgb(119, 122, 125);;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    line-height: 1; 
    margin-bottom: 10px; 
}

.header__intro-text {
    font-family: 'Prata', serif;
    color:rgb(170, 174, 176);;
    font-size: 30px;
    line-height: 25px; 
    text-align: center;
    padding: 15px 0; 
}

.header__intro-sub-text {
    font-family: 'Prata', serif;
    color: rgb(206, 209, 211);
    font-size: 20px;
    line-height: 20px; 
    text-align: center;
    margin-bottom: 20px; 
}
@media (min-width: 365px) {
    .header__intro {
        padding: 190px 0 157px;
    }

    .header__intro-title {
        font-size: 40px;
        line-height: 1;
        margin-bottom: 10px;
    }

    .header__intro-text {
        font-size: 15px;
        line-height: 25px;
        padding: 30px 0;
    }
}

@media (min-width: 768px) {
    .header__intro {
        padding: 190px 0 157px;
    }

    .header__intro-title {
        font-size: 40px;
        line-height: 1;
        margin-bottom: 10px;
    }

    .header__intro-text {
        font-size: 15px;
        line-height: 25px;
        padding: 30px 0;
    }
}

@media (min-width: 992px) {
    .header__intro {
        padding: 250px 0 185px;
    }

    .header__intro-title {
        font-size: 82px;
        line-height: 1;
        margin-bottom: 10px;
    }

    .header__intro-text {
        font-size: 20px;
        line-height: 25px;
        padding: 40px 0;
    }
}
